---
import Layout from "@/layouts/layout.astro";

import Section from "@/components/Section.astro";
import About from "@/components/sections/About.astro";
import Eductation from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboardManager from "@/components/sections/KeyboardManager.astro";
import Langs from "@/components/sections/Langs.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import cv from "@cv-en";
const { name, label } = cv.basics;
---

<Layout title={`Portafolio de ${name} ⚙️ ${label}`} json={cv}>
  <!-- src/pages/index.astro -->
  <main>
    <Hero json={cv.basics} />
    <Section title="About">
      <About json={cv} />
    </Section>
    <Section title="Laboral experience">
      <Experience json={cv.work} />
    </Section>
    <Section title="Skills">
      <Skills json={cv.skills} />
    </Section>
    <Section title="Education">
      <Eductation json={cv.education} />
    </Section>
    <Section title="Languages">
      <Langs json={cv.languages} />
    </Section>
    <Section title="Projects">
      <Projects json={cv.projects} />
    </Section>
  </main>

  <KeyboardManager json={cv.basics.profiles} />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
