---
import Section from "@/components/Section.astro";
import cv from "@/cv";

const { work } = cv;
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, position, startDate, endDate, summary, highlights }) => {
          const statYear = new Date(startDate).getFullYear();
          const endYear =
            endDate !== null ? new Date(endDate).getFullYear() : "PRESENTE";
          return (
            <li>
              <div class="header">
                <div class="title">
                  <h3>{name}</h3>
                  <div class="highlights">
                    {highlights.map((highlight) => (
                      <span>{highlight}</span>
                    ))}
                  </div>
                </div>
                <span class="dates">
                  {statYear} - {endYear}
                </span>
              </div>
              <h4>{position}</h4>
              <p>{summary}</p>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  li {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        display: flex;
        justify-content: start;
        gap: 10px;
        align-items: center;

        .highlights {
          display: flex;
          gap: 10px;
          background-color: beige;
          padding: 5px;
          border-radius: 4px;
          font-size: 0.7rem;
        }
      }
      .dates {
        font-size: 0.8rem;
        color: #888;
      }
    }

    h4 {
      font-size: 1rem;
      color: #555;
    }
    p {
      padding-right: 8rem;
    }
  }
</style>
